<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ asset('dist/app.css') }}">

<title>Directory Lister</title>

<div id="app" class="font-mono min-h-screen">
    <header class="block bg-blue-600 shadow sticky top-0 text-white text-sm tracking-tight">
        <div class="container mx-auto p-4">
            <a href="/" class="hover:underline">Home</a>

            {% for name, path in breadcrumbs %}
                / <a href="{{ path }}" class="hover:underline">{{ name }}</a>
            {% endfor %}
        </div>
    </header>

    <div class="container mx-auto px-4">
        <ul class="py-8">
            <div class="flex justify-between font-bold p-4">
                <div class="flex-grow mr-2">
                    File Name
                </div>

                <div class="hidden text-right w-1/6 mx-2 sm:block">
                    Size
                </div>

                <div class="hidden text-right w-1/4 ml-2  sm:block">
                    Date
                </div>
            </div>

            {% if not is_root %}
                <a
                    href=".."
                    class="flex justify-between items-center rounded-lg p-4 hover:bg-gray-200 hover:p-4 hover:shadow"
                >
                    <div class="flex-shrink text-gray-700 pr-2">
                        <i class="fas fa-level-up-alt fa-fw fa-lg"></i>
                    </div>

                    <div class="flex-grow truncate mr-2">
                        ..
                    </div>

                    <div class="hidden whitespace-no-wrap text-right mx-2 w-1/6 sm:block">
                        —
                    </div>

                    <div class="hidden whitespace-no-wrap text-right truncate ml-2 w-1/4 sm:block">
                        —
                    </div>
                </a>
            {% endif %}

            {% for file in files %}
                <a
                    href="{{ file.getRelativePathname }}"
                    class="flex justify-between items-center rounded-lg p-4 hover:bg-gray-200 hover:p-4 hover:shadow"
                >
                    <div class="flex-shrink text-gray-700 pr-2">
                        {{ icon(file) | raw }}
                    </div>

                    <div class="flex-grow truncate mr-2">
                        {{ file.getBasename }}
                    </div>

                    <div class="hidden whitespace-no-wrap text-right mx-2 w-1/6 sm:block">
                        {% if file.isDir %}
                            —
                        {% else %}
                            {{ sizeForHumans(file.getSize) }}
                        {% endif %}
                    </div>

                    <div class="hidden whitespace-no-wrap text-right truncate ml-2 w-1/4 sm:block">
                        {{ file.getMTime | date }}
                    </div>
                </a>
            {% endfor %}
        </ul>
    </div>

    <footer>
        <div class="container border-t-2 border-gray-800 text-center mx-auto px-4 py-8">
            Powered by <a href="https://www.directorylister.com" class="underline">Directory Lister</a>
        </div>
    </footer>
</div>
