<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="{{ config('dark_mode') ? asset('images/favicon.dark.png') : asset('images/favicon.light.png') }}">
<link rel="stylesheet" href="{{ asset('app.css') }}">

{% if config('google_analytics_id', false) %}
    {% include 'components/analytics/google.twig' %}
{% endif %}

{% if config('matomo_analytics_url', false) and config('matomo_analytics_site_id', false) %}
    {% include 'components/analytics/matomo.twig' %}
{% endif %}

<title>{{ title }} &bull; Directory Lister</title>

<div id="app" class="flex flex-col min-h-screen font-sans {{ config('dark_mode') ? 'dark-mode' : 'light-mode' }}">
    {% block content %}{% endblock %}
</div>

<script src="{{ asset('app.js') }}" defer></script>
